<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<nav>
					<ul class="nav pull-left">
						<li><%= link_to 'Home', '#'%></li>
						<li><%= link_to 'Eventi', '#'%></li>
						<li><%= link_to 'Curriculum', '#'%></li>
						<li><%= link_to 'Repertorio', '#'%></li>
						<li><%= link_to 'Contatti', '#'%></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>