<!--<header>
	<nav class="navbar navbar-revert">
		<div class="navbar-inner">
			<div class="container">
				<nav>
					<ul class="nav pull-left">
						<li><%= link_to 'Home', '#'%></li>
						<li><%= link_to 'Eventi', '#'%></li>
						<li><%= link_to 'Curriculum', '#'%></li>
						<li><%= link_to 'Repertorio', '#'%></li>
						<li><%= link_to 'Contatti', '#'%></li>
					</ul>
				</nav>
			</div>
		</div>
	</nav>
</header>-->


<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Eventi</a></li>
      <li><a href="#">Curriculum</a></li>
			<li><a href="#">Repertorio</a></li>
			<li><a href="#">Contatti</a></li>
      
    </ul>
    
    
  </div><!-- /.navbar-collapse -->
</nav>
